body {
  font-family: "Inter", sans-serif;
  background-color: #e3e9f0;
}

.container {
  margin-top: 100px !important;
}

.nav-link.active {
  color: #025bd4 !important;
}

.navbar-nav .nav-link.active {
  color: white !important;
  font-weight: bold;
  background: linear-gradient(to left, #025bd4, #006cff);
  border-radius: 10px;
  padding: 7px 15px;
}

.navbar-nav .nav-link {
  color: black;
}

li {
  margin-right: 20px;
}

.completed {
  background-color: #d1f7d6;
  color: #1b5e20;
  padding: 3px;
  border-radius: 5px;
}

.failed {
  background-color: #f8d7da;
  color: #721c24;
  padding: 2px 8px;
  border-radius: 5px;
}

.heading2 {
  font-size: 12px;
}

.upload-box {
  border: 2px dashed #ccc;
  border-radius: 10px;
  text-align: center;
  padding: 40px;
  cursor: pointer;
  color: #777;
  background-color: #ebebeb;
}

.upload-box:hover {
  border-color: #aaa;
}

.upload-box i {
  font-size: 40px;
  color: #777;
}

.upload-box .link {
  color: #025bd4;
  cursor: pointer;
  text-decoration: underline;
}

.upload-box .link:hover {
  color: #0144a2;
}

.start-button {
  background: linear-gradient(to left, #025bd4, #006cff);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 8px 60px;
  font-size: 16px;
}

.start-button:hover {
  background: linear-gradient(to left, #006cff, #025bd4);
  color: white;
}

.back-button {
  background: linear-gradient(to left, #006cff, #025bd4);
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
  text-decoration: none;
}

.back-button:hover {
  background: linear-gradient(to left, #025bd4, #006cff);
  text-decoration: none;
}

.upload-card {
  background-color: #b3d0e7;
  padding: 10px;
}

.upload-item {
  background-color: #f0f3f5;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 5px;
}

.nav-tabs .nav-link {
  color: grey;
}

.nav-tabs .nav-link.active {
  background: linear-gradient(to left, #025bd4, #006cff);
  color: white !important;
}

.para {
  text-align: justify;
  font-size: 15px;
}
